{
  "root": true,
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "no-undef": "error",
    "padding-line-between-statements": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "webextensions": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": "typescript"
  },
  "ignorePatterns": [
    "node_modules",
    "zip",
    "build",
    "wasm",
    "tlsn",
    "util",
    "webpack.config.js"
  ]
}