/target
**/*.rs.bk
bin/
**/node_modules
**/.DS_Store
.idea
build
# TLSN submodule in tlsn-wasm
packages/tlsn-wasm/tlsn/
zip
.vscode
.claude/*
!.claude/commands/
coverage
packages/verifier/target/
# Mobile native module build artifacts (symlinks created by postinstall)
packages/mobile/modules/quickjs-native/quickjs-native
packages/mobile/modules/tlsn-native/tlsn-native