@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../Popup/index.scss";

html {
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app-container {
  width: 100vw;
  height: 100vh;
}