.plugin-box {
  &__remove-icon {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: 200ms opacity;

  }

  &:hover {
    .plugin-box__remove-icon {
      height: 1.25rem;
      width: 1.25rem;
      padding: .5rem;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
.custom-modal {
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 90vh;
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
}

.custom-modal-content {
  flex-grow: 2;
  overflow-y: auto;
  max-height: 90%;
}

.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
