.custom-modal {
  height: 100%;
  max-width: 800px;
  max-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.custom-modal-content {
  flex-grow: 2;
  overflow-y: auto;
  max-height: 90%;
}

.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
